p{
font-size:30px;
font-family: "Segoe Print";
font-weight:bold;
color:#EAAAF4;
text-align:center;

}
header {
background-color:lightblue;
}

body {
background-color:lightcoral;
}

footer{
background-color:yellowgreen;
}

.parrafo1{
    font-size:60px;

}

.pauli{
    color:red;
}